*,
html {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
    // align-items: center;
    // justify-content: center;
    background: linear-gradient(
        to right,
        rgba(175, 47, 124, 0.7),
        rgba(120, 145, 213, 0.6)
    );
    background: linear;
    // padding-top: 7rem;
}

.app {
    // min-width: 170rem;
    // min-height: 65rem;
    // // height: 75rem;
    // // max-width: 250rem;
    // margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    // position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(22 21 34);
}

.hidden {
    display: none !important;
}

.backdrop {
    // height: 65rem;
    // width: 170rem;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    opacity: 0;
    transform: translateY(-200vh);
}

// .wallets {
//     height: auto;
// }
.open-wallets {
    opacity: 1 !important;
    animation: wallet 1s forwards;
}

.open {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.scrollbar {
    ::-webkit-scrollbar {
        width: 15px;

        &-track {
            background: rgb(150, 144, 144);
        }

        &-thumb {
            background: rgb(65, 62, 62);

            &:hover {
                background: #7891d5;
            }
        }
    }
}
