.connect__wallet--btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    opacity: 1;
    color: white;
    font-size: 1.2rem;
    transition: all 4s;
    width: 10.2rem;
    overflow: hidden;

    &:hover {
        // animation: gradient 1s;
        // opacity: 0.8;
    }
}

.wallet__btn {
    background-color: rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;
    border: 0px solid rgba(9, 147, 236, 0.5);
    border-radius: 0.5rem;
    border-width: 1px;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &:hover {
        border: 1px solid #db469f;
    }
}

.explore-cta {
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2rem;
    width: 12rem;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    margin-right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    // font-weight: 500;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bold;

    &:hover {
        // background: linear-gradient(to left, #db469f, #7891d5);
        // opacity: 0.8;
    }
}

.btn__container {
    display: inline-block;
    margin-top: 8rem;
    background: linear-gradient(to right, #db469f, #7891d5, #db469f);
    background-position: 0% 50%;
    background-size: 150% 100%;

    &:hover {
        animation: gradient 1.5s forwards;
        // opacity: 0.6;
    }
}

.connected {
    background: transparent;
}

.logout-btn {
    height: 2.5rem;
    width: 5rem;
    background-color: transparent;
    border: 2px solid #db469f;
    color: #db469f;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;

    &:hover {
        background-color: #db469f;
        color: black;
    }
}


.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    margin-left: .5rem;
    padding: 0;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #db469f;
    display: block;
    margin: 0.6rem 0;

}