.nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: #7891d5;
    display: flex;
    align-items: center;
    &:hover {
        color: rgb(133, 133, 133);
    }
}
